# Dependencies
/frontend/node_modules
/backend/vendor

# Build output
/frontend/dist
/frontend/web-build
/frontend/.expo

# Environment variables
.env
.env.backup
.env.production

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode
